{% extends "base.html" %}

{% block content %}

    <div class="container-fluid text-light">
        <div class="row m-3">
            <!-- Interested Topics -->
             <div class="col-4"> 
                <h5> Hot Topics </h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-success border-0"><a href="#" class="text-white text-decoration-none">Python</a></li>
                    <li class="list-group-item bg-success border-0"><a href="#" class="text-white text-decoration-none">Javascript</a></li>
                    <li class="list-group-item bg-success border-0"><a href="#" class="text-white text-decoration-none">HTML</a></li>
                    <li class="list-group-item bg-success border-0"><a href="#" class="text-white text-decoration-none">Django</a></li>
                    <li class="list-group-item bg-success border-0"><a href="#" class="text-white text-decoration-none">React</a></li>
                </ul>

            </div>

            <!-- Hot topics -->
            <div class="col-7">
                <div class="panel">
                    <div class="panel-heading">
                        <h5> Most Recent Questions </h5>
                    </div>

                    <div class="panel-body rounded">
                        
                        <!-- Question  -->
                        <div class="list-group">
                            {% if question_thread %}
                                {% for question in question_thread %}
                                    <a href="{% url 'enter_room' question.id %}" class="list-group-item list-group-item-action">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">{{ question.title }}</h5>

                                            <small>{{ question.created_at }} days ago</small>
                                        </div>

                                        <p class="mb-1">{{ question.placeholder_paragraph }}...</p>

                                        <div class="d-flex align-items-center justify-content-end gap-3 mt-2">
                                            <i class="bi bi-chat-left-fill">{{ question.answers_count }}</i>
                                        </div>
                                    </a>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="d-flex justify-content-center mt-3">
                            <button class="btn btn-primary text-center">
                                Explore more...
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Hot Topics  -->

    
    <!-- Contacts -->
    

{% endblock %}