{% extends "base.html" %}

{% block navbar %}{% endblock %}

{% block content %}
        <section class="vh-100">

            <div class="container-fluid h-100">
                <div class="row justify-content-center align-items-center h-100">
                    <div class="col-6 col-lg-4">
                        <div class="mb-3">
                            <h3>Forgot Password</h3>
                        </div>

                        <form action="{% url 'send_verification_code' %}" method="POST">
                            {% csrf_token %}
                            <input type="email" name="email" placeholder="Enter your email">
                            <button type="submit">Proceed</button>
                        </form>
                    </div>
                </div>
            </div>

        </section>
{% endblock %}

{% block footer %}{% endblock %}