{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid align-items-center my-3 text-center">
        <h2 class="">Welcome to AskItHub</h2>
        <p>Your Community-Driven Q&A Platform</p>
        <hr>

        <div class="mt-4 m-5">
            AskItHub is a vibrant community platform where knowledge seekers and experts 
            come together to ask questions, share answers, and learn from each other. 
            Whether you're a student looking for homework help, a professional seeking industry insights, 
            or simply curious about the world around you, AskItHub provides a welcoming space for 
            meaningful discussions and knowledge exchange.
        </div>
    </div>
{% endblock %}