{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid align-items-center my-3">
        <h2 class="text-center">About AskItHub</h2>
        <hr>

        <div class="row">
            <div class="col-6 align-items-end rounded bg-primary">
                <p class="lead p-3">AskiThub is a community-driven platform where users can ask questions, share knowledge, and discuss topics across various categories. Designed for learners and students, it encourages open dialogue and collaborative problem-solving.</p>
            </div>
        </div>
        <h2>Who It's For</h2>
        <h2>What You Can Do</h2>
    </div>
{% endblock %}