{% extends 'base.html' %}

{% block content %}
    <section class="p-3">
        <h3>All Room</h3>

        {% if all_questions %}
            {% for question in all_questions %}
                <div data-bs-spy="scroll" 
                    data-bs-target="#navbar-example2" 
                    data-bs-root-margin="0px 0px -40%" 
                    data-bs-smooth-scroll="true" 
                    class="scrollspy-example bg-body-tertiary p-3 rounded-2 mt-4" 
                    tabindex="0">
                    
                    <div class="list-group">
                        <a href="{% url 'enter_room' question.id %}" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ question.title }}</h5>
                                <small>{{ question.created_at|timesince }} ago</small>
                            </div>

                            <p class="my-3">{{ question.placeholder_paragraph }}...</p>

                            <div class="row d-flex align-items-center mt-4">
                                <div class="col d-flex justify-content-start">
                                    <p>@{{ question.created_by.username }}</p>
                                </div>

                                <div class="col d-flex justify-content-end mt-2">
                                    <i class="bi bi-eye-fill me-2"></i><p>{{ question.seen_numbers }}</p>
                                    <i class="bi bi-chat-left-fill ms-4 me-2"></i><p>{{ question.answers_count }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="text-align-center">No item found</p>
        {% endif %}
    </section>
{% endblock %}
